h1 {
    background-color: #938cf7;
    text-align: center;
  }

  body {
   
    align-items: left !important;
   
   background-image: url(background.jpg);
  }
  .col-md-3 {
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 10px !important;
  }
  input {
    display: inline !important;
    width :95% !important;
    border-radius: 7px !important;
    border: 3px solid black !important;
  }
  textarea {
    margin-top: 20px !important;
    border: 3px solid black !important;
    border-radius: 5px !important;
  }
  h2 {
    background-color: #eb9b62;
    text-align: center;
    border-radius: 5px !important;
  }
  .col-md-7 {
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 10px !important;
    justify-content: right !important;
  }
  i{
    color: red ;
  }
  li {
    text-align: center ;
  }
